
<style>

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

head {
  font-family: 'Annie Use Your Telescope', cursive;
 
}

body {
  font-family: 'Annie Use Your Telescope', cursive;
 
}


header {
    font-family: 'Annie Use Your Telescope', cursive;
    background-color: #356;
    color: #fff;
    padding: 20px;
    text-alignment: center;
    width: auto;
}

nav ul {
    font-family: 'Annie Use Your Telescope', cursive;
    list-style-type: none;
    margin: auto;
    padding: 30;
}

nav ul li {
    font-family: 'Annie Use Your Telescope', cursive;
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    font-family: 'Annie Use Your Telescope', cursive;
    color: #fff;
    text-decoration: none;
}

main {
    font-family: 'Annie Use Your Telescope', cursive;
    padding: 25px;
}

h1 {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 35px;
  text-align: center;
}

p {
    font-family: sans-serif;
    font-size: 20px;
    text-alignment: center;
    
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text {
     font-family: 'Annie Use Your Telescope', cursive;
    font-size: 30px;
    text-alignment: center;
}

.regular-text {
    font family: 'Annie Use Your Telescope',sans-serif;
}

.egypt 
{
padding: 10px;
margin:none;
alignment: center;
}

.wrap
{
 word-wrap: auto;   
 object-fit: scale-down;
max-width: 100%
}


.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.fb-like {
    padding: 20px;
alignment: center;
 display:block;
  word-wrap: break-word;
  overflow: auto;
  color: #673ab7;
  width: 300px;
}

.footer {  
font-family: 'Annie Use Your Telescope', cursive; 
    padding: 20px;
margin:auto;
alignment: center;
 width: auto;
 isplay: block;
}
</style>

